{% extends 'base.html.twig' %}
{% block main %}
	<div class="container mt-5">
		{% for course in courses %}
			<div class="row justify-content-center mb-5">
				<div class="card shadow" style="max-width: 675px;">
					<div class="row g-0">
						<div class="col-md-4 d-flex align-items-center">
							{% if course.course.filelink is not null %}
							<img src="{{ asset('build/files/' ~ course.course.filelink)}}" class="img-fluid rounded-start" alt="...">
                        	{% else %}
							<img src="{{ asset('build/img/study_from_books.png')}}" class="img-fluid rounded-start" alt="...">   
                        	{% endif %}
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<div class="row">
									<span class="text-muted col-md-6">{{ course.course.idCategory.caption }}</span>
									<span class="text-muted col-md-4">
										{% if course.lastDatetime is not null %}
										<small>{{ course.lastDatetime.format('Y/m/d') }}</small>
										{% endif %}
									</span>
									<a href="#" class="col-md-2 starred" title="Starred">
										{% if course.starred %}
										<span class="text-secondary">
											<i class="fas fa-star"></i>
										</span>
										{% else %}
										<span class="text-secondary">
											<i class="far fa-star"></i>
										</span>
										{% endif %}
									</a>
								</div>
								<div class="row mt-2">
									<h5 class="card-title">{{ course.course.caption }}</h5>
								</div>
								<div class="row">
									<p class="card-text">{{ course.course.description }}</p>
								</div>
								<div class="row mt-2">
									<span class="text-muted col-md-6">
										{{ course.course.idUser.firstName ~ ' ' ~ course.course.idUser.lastName }}
									</span>
									{% if course.step is null %}
									<a href="{{ path('user.course.content', {course: course.course.idCourse}) }}" class="text-primary col-md-6">Start
										<i class="fas fa-arrow-right"></i>
									</a>
									{% else %}
									<a href="{{ path('user.course.content', {course: course.course.idCourse, step: course.step}) }}" class="text-primary col-md-6">Continue
										<i class="fas fa-arrow-right"></i>
									</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
