<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        {{ encore_entry_link_tags('js/app') }}
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_script_tags('js/app') }}
        {% block javascripts %}{% endblock %}
        <link rel="icon" href="{{ asset('build/img/favicon.ico') }}" type="image/png">
    </head>
    <body>                
        <nav class="navbar navbar-bottom-primary navbar-expand-md sticky-top navbar-{{ app_color }} bg-{{ app_color }}" aria-label="Fourth navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('index') }}">{{ app_name }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-primary">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample04">
                    {% if user is defined %} {# Logged navbar #}
                        <ul class="navbar-nav mx-auto mb-2 mb-md-0">
                            <li class="nav-item dropdown me-3">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownCourses" data-bs-toggle="dropdown" aria-expanded="false">Courses</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownCourses">
                                {% for category in categories %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('user.course.list', {idCategory: category.idCategory}) }}">{{ category.caption }}</a>
                                    </li>
                                {% endfor %}
                                    <hr>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('user.course.list') }}">See all</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="{{ path('index') }}">My courses</a>
                            </li>
                            {% if user.idRole.idRole in [id_role_editor, id_role_admin] %}
                            <li class="nav-item dropdown me-3">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdowneditor" data-bs-toggle="dropdown" aria-expanded="false">Editor</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdowneditor">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('editor.course.list') }}">Courses</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                            {% if user.idRole.idRole in [id_role_admin] %}
                            <li class="nav-item dropdown me-3">
                                <a class="nav-link dropdown-toggle" href="#" id="dropdownadmin" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownadmin">
                                    <li>
                                        <a class="dropdown-item" href="{{ path("admin.user.list") }}">Users</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav me-5 mb-2 mb-md-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle p-0" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fw-bold me-3">{{ user.firstName ~ ' ' ~ user.lastName }}</span>
                                {% if user.pictureFileLink is not null %}
                                    <img class="profile rounded" src="{{ asset(file_dir ~ '/' ~ user.pictureFileLink) }}" alt="profile" title="picture profile">
                                {% else %}
                                    <img class="profile rounded" src="{{ asset('build/img/placeholder_profile.png') }}" alt="profile" title="picture profile">   
                                {% endif %}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('user.profile', {id: user.idUser}) }}">Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav mx-auto mb-2 mb-md-0">
                            <li class="nav-item mx-3">
                                <a class="nav-link" href="#section1">Welcome</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" href="#section2">The best way to learn</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" href="#section3">Educational support</a>
                            </li>
                        </ul>
                        <a class="mx-3 me-md-3" href="{{ path('login') }}">Login</a>
                        <span class=""><br></span>
                        <a class="btn btn-primary mt-2 mt-md-0" href="{{ path('app_register') }}" style="cursor: pointer;">
                            <span class="text text-white">Get Started</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <main>
            {% set flash = app.flashes %}
            {% if flash is not empty %}
            <div class="container my-5">
            {% if flash.success is defined %}
            {% for message in flash.success %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
            {% if flash.warning is defined %}
            {% for message in flash.warning %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% endif %}
            </div>
            {% endif %}
            
            {% block main %}{% endblock %}
        </main>
        <footer class="footer mt-auto py-3 bg-primary">
            <div class="container">
                <div class="row row-cols-lg-5 py-5 my-5">
                    <div class="col">
                        <h5 class="text-secondary">Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Features</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Pricing</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">FAQs</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">About</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <h5 class="text-secondary">Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Features</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Zebi</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">FAQs</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">About</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col">
                        <h5 class="text-secondary">Section</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Home</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Features</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">Pricing</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">FAQs</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="#" class="nav-link p-0 text-white">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row text-center">
                    <a href="{{ path('index') }}" class="link-dark text-decoration-none">
                        © {{ app_name }} 2021 - {{ app_version }}
                    </a>
                </div>
            </div>
        </footer>
    </body>
</html>
