{% extends 'base.html.twig' %}
{% block main %}
	<div class="container my-5">
		<div class="row">
			<div class="col-xl col-lg">
				<div class="card shadow mb-4">
					<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
						<h6 class="m-0 fw-bold text-primary col-6">{{ typeForm }}</h6>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col">
                                {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col">
                                            {{ form_label(form.caption, 'Course\'s name') }}
                                            {{ form_widget(form.caption) }}
                                            {{ form_errors(form.caption) }}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            {{ form_label(form.description, 'Description') }}
                                            {{ form_widget(form.description) }}
                                            {{ form_errors(form.description) }}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            {{ form_label(form.idUser, 'User') }}
                                            {{ form_widget(form.idUser) }}
                                            {{ form_errors(form.idUser) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_label(form.idCategory, 'Category') }}
                                            {{ form_widget(form.idCategory) }}
                                            {{ form_errors(form.idCategory) }}
                                        </div>
                                    </div>
                                     <div class="row mt-3">
                                        <div class="col">
                                            {{ form_label(form.image, 'Image') }}
                                            {{ form_widget(form.image) }}
                                            {{ form_errors(form.image) }}
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            {{ form_label(form.active, 'Active') }}
                                            {{ form_widget(form.active) }}
                                            {{ form_errors(form.active) }}
                                        </div>
                                    </div>
                                    <div class="float-end">
                                        <a class="btn btn-secondary rounded" href="{{ path('editor.course.list') }}">
                                            <span class="text text-black">Back</span>
                                        </a>
                                        <button class="btn btn-primary rounded">
                                            <span class="text text-white">Submit</span>
                                        </button>
                                    </div>
                                {{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
